{% extends 'index.html' %}
{% block content %}
<div class="container-fluid mt-3 bg-info">
    <div class="p-4 text-white">
        <h1 class="text-center">How To Use</h1>
        <ul class="ml-4">
            <li>First upload the job description file.</li>
            <li>Next upload your resume.</li>
            <li>Click on 'Upload Files' button, to check your result.ś</li>
            <li>Both the files uploaded must be in '.docx' format.</li>
            <li>The project does not focus on how your resume looks, but only on what it contains.</li>
            <li>Prepare the resume according to the job description only.</li>
            <li>Make sure there are no spelling mistakes.</li>
            <li>Include every detail possible in the job description like requirements, qualifications and about the job.</li>
            <li>If above listed details are not provided by the company, search for the general information regarding that job.</li>
        </ul>
    </div>
</div>
{% endblock %}