{% extends 'index.html' %}
{% block content %}
<div class="container-fluid mt-3" style="background-color: #5439e8;">
    <div class="row p-4">
        <div class="col-md-6 align-center">
            <h4 class="text-white">Hardik Pachory</h4>
            <p class="text-white">Hello, this is Hardik Pachory. I am a CSE student, an artist and a software engineer to be.
                I started with C++ and tried working with Python and JavaScript as well. I have knowledge of MERN web app,
                and building Django skills. Learning and implementing is my hobby, and I my special ability is that I can ADAPT.
            </p>
            <div class="row">
                <div class="col-sm-1">
                    <a href="https://github.com/hardik-pachory" target="_blank"><i class="fab fa-github" style="color:#fff;"></i></a>
                </div>
                <div class="col-sm-1">
                    <a href="https://www.instagram.com/the_hardik_pachory/?hl=en" target="_blank"><i class="fab fa-instagram" style="color:#fff;"></i></a>
                </div>
                <div class="col-sm-1">
                    <a href="https://www.facebook.com/hardik.pachory.5/" target="_blank"><i class="fab fa-facebook" style="color:#fff;"></i></a>
                </div>
                <div class="col-sm-1">
                    <a href="https://www.linkedin.com/in/hardikpachory/" target="_blank"><i class="fab fa-linkedin" style="color:#fff;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <blockquote class="blockquote text-center bg-white p-5">
                <p class="mb-0">Learn continually - there's always </p>
                <span class="mb-0 text-info">"ONE MORE THING"</span>
                <p>to learn.</p>
                <footer class="blockquote-footer"><cite title="Source Title">- Steve Jobs</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}